<template>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Про сайт</h5>
                    <p class="grey-text text-lighten-4">Цей сайт надає можливість отримати статистичні дані по продажу
                        нерухомості в межах України. Відвідувачі нашого сайту мають можливість проглядати інформацію у
                        вигляді таблиці та графіку, а зареєстровані користувачі мають можливість зберігати
                        дані у вигляді файлів (<a href="#" class="white-text">xml</a>,
                        <a href="#" class="white-text">json</a>) та отримувати оперативні онолення даних на email.
                    </p>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Додаткові посилання</h5>
                    <ul>
                        <li><a class="white-text" href="http://domik.ua/nedvizhimost/dinamika-cen.html" target="_blank">Динамика и
                                статистика цен на недвижимость: анализ рынка недвижимости и обзор рынка недвижимости в
                                графиках</a>
                        </li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Контакти та зворотній зв'язок</h5>
                    <ul>
                        <li><a class="white-text" href="#!">info@hpd-stat.com.ua</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made with <a class="white-text" href="http://materializecss.com" target="_blank">Materialize</a> and <a
                        class="white-text" href="http://laravel.com" target="_blank">Laravel</a> by Yaroslav Slon <i
                        class="material-icons tiny">copyright</i>
            </div>
        </div>
    </footer>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
