<template>
    <div class="container">
        <div class="row">

            <region :cities="cities" :regions="regions" :onRegionChanged="onRegionChanged"></region>

            <selection :selections="selections" :onSelectionChanged="onSelectionChanged"></selection>

            <currency :onCurrencyChanged="onCurrencyChanged"></currency>

            <!--<parameter :parameters="parameters" :onParameterChanged="onParameterChanged"></parameter>-->
            <parameter :parameters="parameters" v-model="selected.parameter"></parameter>

            <approx :approxes="approxes" :onApproxChanged="onApproxChanged"></approx>

        <div class="col s12 m8 offset-m2">
            <ul v-if="selectionItems.lenght !== 0 && selectionItems.type === 1" class="collapsible">
                <li v-for="(group, key) in selectionItems.data">
                    <div class="collapsible-header">{{ key }}</div>
                    <div class="collapsible-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div v-for="item in group" class="col s12 m4">
                                    <p>
                                        <label>
                                            <input v-model="selected.selectionItem" type="radio" :value="item.v">
                                            <span>{{ item.t }}</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul v-if="selectionItems.lenght !== 0 && selectionItems.type == 2" class="collapsible">
                <li v-for="(group, key) in selectionItems.data">
                    <div class="collapsible-header">{{ selectionItems.selName }}</div>
                    <div class="collapsible-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div v-for="item in group" class="col s12 m4">
                                    <p>
                                        <label>
                                            <input v-model="selected.selectionItem" type="radio" :value="item.v">
                                            <span>{{ item.t }}</span>
                                        </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
                 <div class="col s12 m8 offset-m2 center-align">
                    <a class="waves-effect waves-teal btn-flat" @click='getData'>Отримати дані</a>
                </div>
            </div>
    </div>
</template>

<script>

    import Region from './selections/Region.vue';
    import Selection from  './selections/Selection.vue';
    import Currency from  './selections/Currency.vue';
    import Parameter from './selections/Parameter.vue';
    import Approx from './selections/Approx.vue';

    export default {
        components: {
            Region,
            Selection,
            Currency,
            Parameter,
            Approx
        },

        data: function () {
            return {
                cities: [],
                regions: [],
                selections: [],
                selectionItems: [],
                parameters: [],
                approxes: [],

                selected: {
                    region: '',
                    selection: '',
                    currency: '',
                    items: '',
                    parameter: '',
                    approx: '',
                    selectionItem: ''
                },

                selectionInfo:{
                    region: '',
                    selection: '',
                    currency: '',
                    parameter: '',
                    approxes: ''
                }
            }
        },
        mounted() {
            $(document).ready(function(){
               $('select').formSelect();
               $('.collapsible').collapsible();
             });
            let vm = this;
            axios.get(this.$routes.route('api.params.between', {from: 1, to:63}))
                .then(response => {
                    vm.cities = response.data.slice(0,25);
                    vm.regions = response.data.slice(25,50);
                    vm.parameters = response.data.slice(50,58);
                    vm.approxes = response.data.slice(60,63);
                    vm.updateSelect();
                })
                .catch(error => {
                    console.log(error);
                });
        },
        methods:{
            onRegionChanged: function (region) {
                this.selected.region = region;
                this.updateSelect();
                this.getSelections();
            },
            onSelectionChanged: function (selection) {
                this.selected.selection = selection;
                this.getSelectionItems();
            },
            onCurrencyChanged: function (currency) {
                this.selected.currency = currency;
            },
            onParameterChanged: function (parameter) {
                this.selected.parameter = parameter;
            },
            onApproxChanged: function (approx) {
                this.selected.approx = approx;
            },
            updateSelect: function () {
                $(document).ready(() => {
                   $('select').formSelect();
                   $('.collapsible').collapsible();
                 });
            },
            getSelections: function () {
                let vm = this;
                axios.get(this.$routes.route('api.selections', {r: this.selected.region}))
                    .then(response => {
                        vm.selections = response.data;
                        this.updateSelect();
                    })
                    .catch(error => {
                        console.log(error);
                      });
            },
            getSelectionItems: function () {
                let vm = this;
                axios.get(this.$routes.route('api.selection_items', {r: this.selected.region, aggValues: this.selected.selection, cur: this.selected.currency}))
                    .then(response => {
                        console.log(response.data);
                        vm.selectionItems = response.data;
                        vm.updateSelect();
                    })
                    .catch(error => {
                        console.log(error);
                      });
            },
            getData: function () {
                //alert('get data function');
                this.getSelectionItems();
            }
        },
        watch:{
            selected: function (o, n) {
                console.log('1234567653235fghhhrjhkyjthgjhkj');
                vm.updateSelect();
            }
        }
    }
</script>
