<template>
    <div>
        <!-- Dropdown Structure -->
        <ul v-if="isLoggedIn" id="dropdown-user" class="dropdown-content">
          <li><a href="#!">Профіль</a></li>
          <li><a href="#!">Редагувати</a></li>
          <li class="divider"></li>
          <li><a href="#!">Обране</a></li>
          <li class="divider"></li>
          <li><a href="#!" @click="logout">Вийти</a></li>
        </ul>
        <nav>
          <div class="nav-wrapper">
            <div class="container">
                <a :href="$routes.route('home')" class="brand-logo"><img class="logo" :src="logoPath" alt="hpd-forecasting"></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a :href="$routes.route('forecasting')">Динаміка цін</a></li>
              <li v-if="isAdmin"><a :href="$routes.route('forecasting')">Aдмінка</a></li>
              <li v-if="!isLoggedIn"><a :href="$routes.route('register')">Реєстрація</a></li>
              <li v-if="!isLoggedIn"><a :href="$routes.route('login')">Вхід</a></li>
              <li v-if="isLoggedIn"><a v-if="isLoggedIn" class="dropdown-trigger" href="#!" data-target="dropdown-user">{{ print(user.login) }}<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
            </div>
          </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
         </ul>
    </div>
</template>

<script>
    export default {
        props:[
            'userData'
        ],
        data: function () {
          return {
            user: this.userData
          }
        },
        mounted() {
            $(document).ready(function(){
              $('.sidenav').sidenav();
              $('.dropdown-trigger').dropdown(
                {
                    coverTrigger: false,
                    constrainWidth: false
                });
            });
        },
        computed:{
            logoPath: function logoPath() {
              return this.$routes.route('home') + 'img/logo.png';
            },
            isAdmin: function isAdmin() {
                return this.user !== null && this.user['role'] === 'admin';
            },
            isLoggedIn: function isLoggedIn() {
                return this.user !== null;
            }
        },
        methods:{
            logout: function logout() {
                let vm = this;
                axios.post(this.$routes.route('logout'))
                  .then(function(response){
                    console.log(response.status);
                    $('a[data-target="dropdown-user"]').dropdown('destroy');
                    vm.user = null;
                  });  
            },
            print: function print(arg) {
                return arg ? arg : '';
            }
        }
    }
</script>

<style type="text/css">
.logo {
    height: 64px;
}
@media screen and (max-width: 600px) {
    .logo {
        height: 54px;
    }
}
</style>
