#loader {
  posision: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  height: 100px;
  width: 100px;
  text-align: center; 
  vertical-align: middle;
  line-height: 100px;
  position: fixed;
  font-size: 24px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    width:100px;
    height: 100px;
    border-top: 3px solid #ee6e73;
    animation: rotation 2s infinite linear;
  }
}

@keyframes rotation {
    from {      
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
