#app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
pre {
    overflow: auto;
    height: 300px;
    background: #23241f;
}

.marging-clear {
    margin: 0 0 0 0;
}

.marging-button {
    margin: 10px 10px 10px 10px;
}

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

.hide {
    display: none;
}
