<template>
    <div>
        <div class="input-field col s12 m8 offset-m2">
            <select v-model="selected" @change="change">
                <option v-for="approx in approxes" :value="approx.value">{{ approx.name }}</option>
            </select>
            <label>Апроксимація</label>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['approxes', 'onApproxChanged'],
        data: () => ({
            selected: ''
        }),
        methods:{
            change: function () {
                this.onApproxChanged(this.selected);
            }
        }
    }
</script>
