<template>
    <div>
        <div class="input-field col s12 m8 offset-m2">
            <select v-model="selected" @change="change">
                <option value="2">Долар</option>
                <option value="1">Гривна</option>
            </select>
            <label>Валюта</label>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['onCurrencyChanged'],
        data: () => ({
            selected: '2'
        }),
        methods:{
            change: function () {
                this.onCurrencyChanged(this.selected);
            }
        }
    }
</script>
