<template>
    <div>
        <div class="input-field col s12 m8 offset-m2">
            <select :value="val" @change="change">
                <option v-for="parameter in parameters" :value="parameter.value">{{ parameter.name }}</option>
            </select>
            <label>Параметр</label>
        </div>
    </div>
</template>

<script>
    export default {
        model: {
            prop: 'val',
            event: 'change'
        },
        props: ['val', 'parameters', 'onParameterChanged'],
        methods:{
            change: function (event) {
                this.$emit('change', event.target.value);
                //this.onParameterChanged(this.selected);
            }
        },
        watch:{
            val: function (o, n) {
                $(document).ready(function(){
                    $('select').formSelect();
                });
            }
        }
    }
</script>
