<template>
    <div>
        <div class="input-field col s12 m8 offset-m2">
            <select v-model="selected" @change="change">
                <option value="" disabled>Оберіть відповідний регіон</option>
                <optgroup label="Обласні центри України">
                    <option v-for="city in cities" :value="city.value">{{ city.name }}</option>
                </optgroup>
                <optgroup label="Області України">
                    <option v-for="region in regions" :value="region.value">{{ region.name }}</option>
                </optgroup>
            </select>
            <label>Регіон</label>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['cities', 'regions', 'onRegionChanged'],
        data: () => ({
            selected: '80'
        }),
        methods:{
            change: function () {
                this.onRegionChanged(this.selected);
            }
        }
    }
</script>
