<template>
    <div>
        <div class="input-field col s12 m8 offset-m2">
            <select v-model="selected" @change="change">
                <optgroup v-for="selectionGroup in selections" :label="selectionGroup.n">
                    <option v-for="selection in selectionGroup.d" :value="selection.t">{{ selection.n }}</option>
                </optgroup>
            </select>
            <label>Вибірка</label>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['selections', 'onSelectionChanged'],
        data: function () {
            return {
                selected: ''
            }
        },
        methods: {
            change: function () {
                this.onSelectionChanged(this.selected);
            }
        },
        watch:{
            selections: function () {
                this.selected = 'byRegionAverage';
            }
        }
    }
</script>
